body 
{
    
}

#header
{
	position:relative;
	min-height:100px;
	padding-top:20px;
	padding-left:15px;
}

#header h1
{
	display: inline-block;
	font-size: 24px;
    vertical-align: bottom;
    padding-top: 16px;
    padding-left: 20px;
    font-weight: 400;
}

#header #login
{
	position:absolute;
	right:0px;
	bottom:0px;
}
#header #login #login-error
{
	display: none;
}
#header #login #login-error.show
{
	display: inline-block;
}
#header #login div
{
	display:inline-block;
	font-size:1.4rem;
}
#header #login #logged
{
	display: none;
}
.main-container.logged #header #login #logged
{
	display: block;
}

.main-container.logged #header #login #locked
{
	display:none;
}

#header #login #locked
{
	font-size:0.8rem;
}

.toplevel
{
	background:#bbc3c6;
	padding-left:20px;
	padding-right:20px;
	margin-left:-20px;
	margin-right:-20px;
	margin-bottom:0px !important;
}

.bottomlevel
{
	background:#d7dbde;
	padding-left:20px;
	padding-right:20px;
	margin-left:-20px;
	margin-right:-20px;
	margin-bottom:0px !important;
}

.tab-pane-inner-content
{
	margin-top:10px;
}

.main-container
{
	margin:20px;
}

.main-container:not(.logged) .requireLogged
{
	display:none;
}
